In [24]:
import pandas as pd
import json

## Importing Most Followed Streamer Data Set

In [3]:
mfstream = pd.read_csv('./data/Most_Followers_three_days.csv')

In [4]:
mfstream.head(2)

,Unnamed: 0,Unnamed: 1,Channel,Watch time,Stream time,Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language,Unnamed: 13
0,https://static-cdn.jtvnw.net/jtv_user_pictures...,1,Ninja,8214510,720,15570,10949,16469658,11911,436545,True,False,English,Ninja
1,https://static-cdn.jtvnw.net/jtv_user_pictures...,2,Tfue,24031665,1680,53438,13240,9742302,22439,616332,True,False,English,Tfue

In [5]:
mfstream = mfstream.drop(columns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 13'])

In [6]:
mfstream.head()

,Channel,Watch time,Stream time,Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,Ninja,8214510,720,15570,10949,16469658,11911,436545,True,False,English
1,Tfue,24031665,1680,53438,13240,9742302,22439,616332,True,False,English
2,shroud,27108015,1230,30920,17825,8609552,11195,626494,True,False,English
3,Myth,1612470,390,5603,4134,7076540,872,66656,True,False,English
4,pokimane,10662570,600,31844,19896,6715772,30149,559517,True,False,English

## Importing Most Watched Streamer Data set

In [8]:
mwstream = pd.read_csv('./data/most_watched_streamers.csv')

In [9]:
mwstream.head()

,Unnamed: 0,Unnamed: 1,Channel,Watch time,Stream time,Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language,Unnamed: 13
0,https://static-cdn.jtvnw.net/jtv_user_pictures...,1,ibai,132391320,1050,261328,117179,4177020,78874,4437941,True,False,Spanish,ibai
1,https://static-cdn.jtvnw.net/jtv_user_pictures...,2,xQcOW,106420740,1785,75989,59552,4389067,25487,1566960,True,False,English,xQcOW
2,https://static-cdn.jtvnw.net/jtv_user_pictures...,3,Asmongold,97432065,1455,126200,68182,1848011,21662,1945478,True,False,English,Asmongold
3,https://static-cdn.jtvnw.net/jtv_user_pictures...,4,Gaules,88518180,4290,92951,20642,2248735,11206,1248532,True,True,Portuguese,Gaules
4,https://static-cdn.jtvnw.net/jtv_user_pictures...,5,limit_maximum,88386420,2415,75970,36852,201005,19677,1431397,True,False,English,limit_maximum

In [11]:
mwstream = mwstream.drop(columns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 13'])

In [12]:
mwstream.head()

,Channel,Watch time,Stream time,Peak viewers,Average viewers,Followers,Followers gained,Views gained,Partnered,Mature,Language
0,ibai,132391320,1050,261328,117179,4177020,78874,4437941,True,False,Spanish
1,xQcOW,106420740,1785,75989,59552,4389067,25487,1566960,True,False,English
2,Asmongold,97432065,1455,126200,68182,1848011,21662,1945478,True,False,English
3,Gaules,88518180,4290,92951,20642,2248735,11206,1248532,True,True,Portuguese
4,limit_maximum,88386420,2415,75970,36852,201005,19677,1431397,True,False,English

## Importing Most Watched Games on Twitch

In [13]:
mwgames = pd.read_csv('./data/most_watched_games_twitch.csv')

In [15]:
mwgames.head()

,Unnamed: 0,Unnamed: 1,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio,Followers gained,Views gained,FPR,VPR,Unnamed: 15
0,Just Chatting,1,Just Chatting,1446634500,17181780,721587,5437,93519,334869,3977,84.20,1072995,33590391,3.746975,117.300039,Just Chatting
1,World of Warcraft,2,World of Warcraft,786294300,14728920,363789,7803,33932,182012,3409,53.38,167954,15715561,0.684181,64.019199,World of Warcraft
2,Call of Duty: Warzone,3,Call of Duty: Warzone,559050900,16582320,343398,7996,51623,129409,3838,33.71,291126,7899075,1.053385,28.581314,Call of Duty: Warzone
3,League of Legends,4,League of Legends,543214860,18853320,318449,6128,61174,125744,4364,28.81,261347,12300848,0.831727,39.146998,League of Legends
4,Fortnite,5,Fortnite,516702240,32494680,343767,12185,125201,119607,7521,15.90,934376,13650345,1.725284,25.204763,Fortnite

In [16]:
mwgames = mwgames.drop(columns = ['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 15'])

In [17]:
mwgames.head()

,Game,Watch time,Stream time,Peak viewers,Peak channels,Streamers,Average viewers,Average channels,Average viewer ratio,Followers gained,Views gained,FPR,VPR
0,Just Chatting,1446634500,17181780,721587,5437,93519,334869,3977,84.20,1072995,33590391,3.746975,117.300039
1,World of Warcraft,786294300,14728920,363789,7803,33932,182012,3409,53.38,167954,15715561,0.684181,64.019199
2,Call of Duty: Warzone,559050900,16582320,343398,7996,51623,129409,3838,33.71,291126,7899075,1.053385,28.581314
3,League of Legends,543214860,18853320,318449,6128,61174,125744,4364,28.81,261347,12300848,0.831727,39.146998
4,Fortnite,516702240,32494680,343767,12185,125201,119607,7521,15.90,934376,13650345,1.725284,25.204763